
services:
  bad-temp-frontend:
    image: node:16
    volumes:
      - ./frontend:/app
    ports:
      - "3000:80"
    command: bash -c "cd app && npm install && npm run build"
    # build:
    #   context: .
    # restart: always

  bad-temp-backend:
    image: go-gin-backend
    ports:
      - "5000:5000"
    build:
      context: api
    restart: always

# volumes:
#   dist:
