---
version: "3"
services:
  bad-temp-frontend:
    image: node:16
    volumes:
      - ./frontend:/app
    ports:
      - "3000:4173"
    command: bash -c "cd app && npm install && npm run preview"

  bad-temp-backend:
    image: go-gin-backend
    environment:
      - GIN_MODE=debug
      # - GIN_MODE=release
    ports:
      - "5000:5000"
    build:
      context: backend
    restart: always
